body {
	margin: 0;
	padding: 0;

	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	font-family: Roboto, Arial, sans-serif;
	color: #000000;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
  text-decoration: none;
}

.visually-hidden {
	display: none;
}

.container {
	width: 1200px;
	max-width: 100%;
	margin: 0 auto;
	padding: 0 20px;
}

.button {
	display: inline-block;
	padding: 17px 20px 15px;

	font: inherit;
	font-weight: 500;
	line-height: 18px;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	color: #ffffff;

	background-color: #fb565a;
	border: none;
	border-radius: 2px; 
}

.button:hover,
.button:focus {
	background-color: #e74246;
}

.button:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #e74246;
	box-shadow: inset 0 3px #c13135;
}

.button_color_green {
	background-color: #00ca74;
}

.button_color_green:hover,
.button_color_green:focus {
	background-color: #00bc6c;
}

.button_color_green:acite {
	background-color: #00aa62;
}

.button_color_yellow {
	background-color: #efc84a;
}

.button_color_yellow:hover,
.button_color_yellow:focus {
	background-color: #eab534;
}

.button_color_yellow:acite {
	background-color: #e5a722;
}

.headding-bg {
	background-color: #eeeeee;
}

/* Header */
.header {
	position: absolute;
	top: 49px;
	left: 50%;

	width: 1200px;
	max-width: 100%;
	margin: 0 auto;
	padding: 0 20px;

	transform: translateX(-50%);
}

.header__nav {
	display: flex;
	align-items: center;
	height: 83px;

	font-weight: 500;
	line-height: 30px;
	text-transform: uppercase;
	color: #000000;
}

.header__logo {
	margin-right: 201px;

	align-self: flex-start;
}

.header__logo:hover,
.header__logo:focus {
	opacity: 0.8;
}

.header__logo:active {
	opacity: 0.3;
}

.header__menu {
	display: flex;
	justify-content: space-between;
	margin: 0;
	margin-right: 285px;
	padding: 0;
	padding-bottom: 2px;

	list-style: none;
}

.header__link,
.header__cart-link {
	position: relative;

	color: #000000;
}

.header__cart-link {
	padding-bottom: 2px;
}

.header__cart-link::before {
	content: '';
	position: absolute;
	top: 7px;
    left: -39px;

	width: 15px;
	height: 15px;

	background-image: url(../img/cart-icon.svg);
	background-repeat: no-repeat;
}

.header__link:hover,
.header__link:focus,
.header__cart-link:hover,
.header__cart-link:focus {
	color: #fb565a;
}

.header__link:active,
.header__cart-link:active {
	color: rgba(0, 0, 0, 0.3);
}

.header__link.active::after,
.header__cart-link.active::after {
	content: '';
	position: absolute;

	width: 100%;
	height: 2px;

	background-color: #fb565a;
}

.header__link.active::after {
	left: 1px;
	bottom: -12px;
}

.header__cart-link.active::after {
	right: 0;
	bottom: -4px;

	width: 113px;
}

li:not(:last-child) .header__link {
	margin-right: 46px;
}
/* /header */

/* Promo */
.promo {
	padding-top: 192px;
	margin-bottom: 80px;
	overflow: hidden;
}

.promo__slider {
	position: relative;
}

.promo__slide {
	position: relative;

	display: none;
}

.promo__slide::after {
	content: '';
	position: absolute;
	right: 3px;
	bottom: 0px;

	width: 760px;
	height: 431px;
}

.promo__slide:first-of-type::after {
	background-image: url(../img/nerds-index-slide1.png);
	background-repeat: no-repeat;
}

.promo__slide:nth-of-type(2)::after {
	background-image: url(../img/nerds-index-slide2.png);
	background-repeat: no-repeat;
}

.promo__slide:nth-of-type(3)::after {
	background-image: url(../img/nerds-index-slide3.png);
	background-repeat: no-repeat;
}

.promo__title {
	width: 520px;
	margin: 0;
	margin-bottom: 26px;

	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
	white-space: pre-wrap;
}

.promo__text {
	width: 420px;
	margin: 0;
	margin-bottom: 39px;

	white-space: pre-wrap;
	color: #283136;
}

.promo__link {
	width: 240px;
	margin-bottom: 80px;
}

.promo__controls {
	position: absolute;
	bottom: 96px;
    left: 50%;

	display: flex;

	transform: translateX(-50%);
}

.promo__control {
	position: relative;

	display: block;
	width: 18px;
	height: 18px;

	background-color: #ffffff;
	border-radius: 50%;
}

.promo__control:hover {
	cursor: pointer;
}

.promo__control::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;

	display: none;
	width: 8px;
	height: 8px;

	border: 2px solid #c2c2c2;
	border-radius: 50%;

	transform: translate(-50%, -50%);
}

.promo__control:not(:last-child) {
	margin-right: 17px;
}

input#first:checked ~ .promo__controls > .promo__control:nth-child(1)::before,
input#second:checked ~ .promo__controls > .promo__control:nth-child(2)::before,
input#third:checked ~ .promo__controls > .promo__control:nth-child(3)::before,
input#first:checked ~ .promo__slide:nth-of-type(1),
input#second:checked ~ .promo__slide:nth-of-type(2),
input#third:checked ~ .promo__slide:nth-of-type(3) {
	display: block;
}
/* /promo */

/* Services */
.services {
	margin-bottom: 73px;
	padding-bottom: 80px;

	border-bottom: 2px solid #eeeeee;
}

.services__list {
	display: flex;
	margin: 0;
	padding: 0;

	list-style: none;
}

.services__item {
	position: relative;

	width: 300px;
	padding-top: 171px;
}

.services__item::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;

	width: 300px;
	height: 146px;
}

.services__item:first-child::before {
	background-image: url(../img/illustration-1.jpg);
	background-repeat: no-repeat;
}

.services__item:nth-child(2)::before {
	background-image: url(../img/illustration-2.jpg);
	background-repeat: no-repeat;
}

.services__item:nth-child(3)::before {
	background-image: url(../img/illustration-3.jpg);
	background-repeat: no-repeat;
}

.services__item:not(:nth-child(3n)) {
	margin-right: 100px;
}

.services__title {
	margin: 0;
	margin-bottom: 16px;

	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
}

.services__text {
	width: 280px;
	margin: 0;
	margin-bottom: 32px;

	color: #283136;
	white-space: pre-wrap;
}

.services__link {
	width: 160px;
}

.services__item:nth-child(2) .services__link:active {
	box-shadow: inset 0 3px #009958;
}

.services__item:nth-child(3) .services__link:active {
	box-shadow: inset 0 3px #ce961f;
}	
/* /services */

.index-columns {
	display: flex;
	justify-content: space-between;
	padding-bottom: 73px;

	border-bottom: 2px solid #eeeeee;
}

/* About */
.about {
	width: 660px;
}

.about__title {
	margin: 0;
	margin-bottom: 34px;

	font-weight: 500;
	font-size: 45px;
	line-height: 45px;
	white-space: pre-wrap;
}

.about__text {
	margin: 0;
	margin-bottom: 39px;
}

.about__text,
.about__list-item {
	white-space: pre-wrap;
	color: #283136;
}

.about__list-item {
	position: relative;
}

.about__list-item::before {
	content: '';
	position: absolute;
	top: 11px;
    left: -35px;

	width: 25px;
	height: 2px;

	background-color: #fb565a;
}

.about__list-title {
	margin: 0;
	margin-bottom: 24px;

	font-weight: 700;
	text-transform: uppercase;
}

.about__list {
	margin: 0;
	padding: 0;
	padding-left: 36px;

	list-style: none;
}

.about__list-item:not(:last-child) {
	margin-bottom: 24px;
}
/* /about */

/* Statistics */
.statistics {
	position: relative;

	width: 360px;
	padding-top: 212px;

	text-align: center;
}

.statistics::before {
	content: '';
	position: absolute;
	top: -33px;
	left: 0;

	width: 360px;
	height: 208px;

	background-image: url(../img/nerds-illustration.jpg);
	background-repeat: no-repeat;
}

.statistics__list-title {
	margin: 0;
	margin-bottom: 40px;

	font-weight: 700;
	text-transform: uppercase;
}

.statistics__list {
	display: flex;
	margin: 0;
	padding: 0;

	text-align: left;
	list-style: none;
}

.statistics__list-item {
	width: 100px;
}

.statistics__list-item:not(:nth-child(3n)) {
	margin-right: 20px;
}

.statistics__percent {
	position: relative;

	margin: 0;
	margin-bottom: 19px;

	font-weight: 700;
	font-size: 45px;
	line-height: 45px;
}

.statistics__percent::after {
	content: '%';
	position: absolute;
	top: 0;
    right: 3px;

	font-size: 27px;
	line-height: 27px;
}

li:last-child .statistics__percent::after {
	right: 30px;
}

.statistics__list-item p:last-child {
	margin: 0;

	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	color: #283136;
}
/* /statistics */

/* Partners */
.partners {
	margin-bottom: 80px;

	border-bottom: 2px solid #eeeeee;
}

.partners__list {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;

	list-style: none;
}

.partners__link {
	display: block;
	width: 260px;
	height: 180px;

	opacity: 0.2;
}

.partners__link:hover,
.partners__link:focus {
	opacity: 1;
}

.partners__link:active {
	opacity: 0.1;
}
/* /partners */

/* Catalog */
.catalog__title {
	margin: 0;
	margin-bottom: 55px;
	padding: 192px 0 108px;

	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
	text-align: center;

	background-color: #eeeeee;
}

.templates {
	display: flex;
	justify-content: space-between;
	margin-bottom: 60px;
}

/* Filter */
.filter {
	width: 260px;
}

.filter__item {
	margin: 0;
	margin-bottom: 54px;
	padding: 0;

	border: none;
}

.filter__item-title {
	margin-bottom: 14px;

	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
}

.filter__item:nth-child(1) .filter__item-title {
	margin-bottom: 48px;

	letter-spacing: 0.04em;
}

.filter__item:nth-child(2) {
	margin-bottom: 43px;
}

.filter__item:nth-child(3) {
	margin-bottom: 47px;
}

/* Range */
.range {
	height: 80px;
	margin-bottom: 14px;
	padding: 39px 21px;

	background-color: #eeeeee;
	border-radius: 2px;
}

.range__field {
	position: relative;

	width: 219px;
	height: 2px;

	background-color: #d7dcde;
}

.range__line {
	position: absolute;
	top: 0;
	left: 0;

	width: 151px;
	height: 2px;

	background-color: #00ca74;
}

.range__control {
	position: absolute;
	top: -10px;
	z-index: 2;

	width: 20px;
	height: 23px;

	background-image: url(../img/filter-button.svg);
	background-repeat: no-repeat;
}

.range__control:hover {
	cursor: pointer;
}

.range__control:first-child {
	left: -2px;
}

.range__control:last-child {
	right: 60px;
}
/* /range */

.filter__item-lines {
	display: flex;
	justify-content: space-between;
}

.filter__item-line {
	margin: 0;
}

.filter__item-lines .filter__item-line {
	display: flex;
	align-items: center;
}

.filter__options {
	margin: 0;
	padding: 0;

	list-style: none;
}

.filter__range-text {
	margin-right: 12px;

	line-height: 22px;
	text-transform: uppercase;
	color: #283136;
}

.filter__range-value {
	width: 80px;
	height: 38px;

	font: inherit;
	text-align: center;
	color: #283136;

	background-color: #eeeeee;
	border: none;
	border-radius: 2px;
}

.filter__options-title {
	position: relative;

	padding-left: 36px;

	line-height: 20px;
	color: #283136;
}

.filter__item .filter__options-title::before,
.filter__item .filter__options-title::after {
	content: '';
	position: absolute;
}

.filter__item:nth-of-type(2) .filter__options-title::before {
	top: -3px;
    left: 1px;

	width: 25px;
	height: 25px;

	border: 4px solid #4d4d4d;
	border-radius: 50%;
	opacity: 0.4;
}

.filter__item:nth-of-type(2) .filter__options-title::after {
	top: 5px;
    left: 9px;

	display: none;
	width: 9px;
	height: 9px;

	background-color: #4d4d4d;
	border-radius: 50%;
	opacity: 0.4;
}

.filter__item:nth-of-type(3) .filter__options-title::before {
	top: -2px;
    left: 1px;

	width: 23px;
	height: 23px;

	background-image: url(../img/checkbox-off.svg);
	background-repeat: no-repeat;
	opacity: 0.4;
}

.filter__options li:not(:last-child) {
	margin-bottom: 16px;
}

.filter__submit {
	width: 260px;
	margin-bottom: 25px;
	padding: 17px 0 15px;

	font: inherit;
	font-weight: 500;
	line-height: 18px;
	text-transform: uppercase;

	background-color: #eeeeee;
	border: none;
	border-radius: 2px;
	cursor: pointer;
}

.filter__submit:hover,
.filter__submit:focus {
	background-color: #dfdfdf;
}

.filter__submit:active {
	color: rgba(0, 0, 0, 0.3);

	background-color: #d5d5d5;
	box-shadow: inset 0 3px #bfbfbf;
}

.filter__control:disabled ~ .filter__options-title {
	opacity: 0.1;
}

.filter__control:checked ~ .filter__options-title::after {
	display: block;
}

.filter__item:nth-of-type(3) .filter__control:checked ~ .filter__options-title::before {
	width: 27px;

	background-image: url(../img/checkbox-on.svg);
}

.filter__options-title:hover {
	cursor: pointer;
}

.filter__item:nth-of-type(2) .filter__options-title:hover::before,
.filter__item:nth-of-type(2) .filter__options-title:hover::after {
	opacity: 1;
}

.filter__item:nth-of-type(3) .filter__options-title:hover::before {
	opacity: 1;
}
/* /filter */

.goods {
	width: 760px;
}

/* Sort */
.sort {
	display: flex;
	align-items: flex-start;
	height: 28px;
	margin-bottom: 50px;
	padding-top: 1px;
}

.sort__title {
	display: block;
	margin-right: 266px;
	padding-top: 2px;

	font-weight: 700;
	font-size: 18px;
	line-height: 18px;
	text-transform: uppercase;
	color: #000000;
}

.sort__list {
	display: flex;
	margin: 0;
	padding: 0;

	list-style: none;
}

.sort__list:first-of-type {
	margin-right: 29px;
}

.sort__link {
	position: relative;

	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: #000000;
	opacity: 0.3;
}

li:not(:last-child) .sort__link {
	margin-right: 25px;
}

.sort__list:last-child {
	display: flex;
	justify-content: space-between;
}

.sort__list:last-child .sort__link {
	margin-right: 0;
	margin-left: 30px;
}

.sort__list:last-child .sort__link::before {
	content: '';
	position: absolute;
	top: 3px;
    right: -1px;

	width: 11px;
	height: 10px;
	
	background-repeat: no-repeat;
}

li:first-child .arrow::before {
	background-image: url(../img/icon-down-dir.svg);
}

li:last-child .arrow::before {
	background-image: url(../img/icon-up-dir.svg);
}

.sort__link:hover,
.sort__link:focus {
	opacity: 0.6;
}

.sort__link.active,
.sort__link:active {
	opacity: 1;
}
/* /sort */

/* Products */
.products {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0;
	margin-bottom: 27px;
	padding: 0;

	list-style: none;
}

.products-item {
	position: relative;

	display: flex;
	flex-direction: column;
	width: 360px;
	margin-bottom: 33px;
	overflow: hidden;
}

.products-item img {
	border: 1px solid #e5e5e5;
}

.products-item__decoration {
	fill: #e9e9e9;

	width: 360px;
	height: 40px;
}

.products-item__description {
	position: absolute;
	bottom: -300px;
	left: 0;

	width: 100%;
	padding: 27px 60px 43px;

	text-align: center;

	background-color: #eeeeee;
}

.products-item__description h3 {
	margin: 0;
	margin-bottom: 15px;

	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
	white-space: pre-wrap;
	text-transform: uppercase;
	color: #000000;
}

.products-item__description p {
	margin: 0;
	margin-bottom: 30px;

	line-height: 18px;
	white-space: pre-wrap;
	color: #666666;
}

.products-item__link {
	width: 200px;
}

.products-item:hover {
	box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.25);
}

.products-item:hover img {
	border: none;
}

.products-item:hover .products-item__description {
	bottom: 0;
}

.products-item:hover .products-item__decoration {
	fill: #4d4d4d;
}
/* /products */

/* Page-numbers */
.page-numbers__list {
	display: flex;
	margin: 0;
	padding: 0;

	list-style: none;
}

.page-numbers__link {
	width: 49px;
	margin-right: 12px;

	font-weight: 500;
	line-height: 18px;
	text-transform: uppercase;
	color: #000000;

	background-color: #eeeeee;
	border-radius: 2px;
}

.page-numbers__link:hover,
.page-numbers__link:focus {
	background-color: #dfdfdf;
}

.page-numbers__link:active {
	color: rgba(0, 0, 0, 0.3);

	background-color: #d5d5d5;
	box-shadow: inset 0 3px #bfbfbf;
}

li:last-child .page-numbers__link {
	width: 260px;
}

.page-numbers__link.active {
	padding: 14px 0 12px; 

	background-color: #ffffff;
	border: 3px solid #dbdbdb;
}
/* /page-numbers */
/* /catalog */

/* Footer */
/* Contacts */
.contacts {
	position: relative;
}

.contacts__map {
	position: relative;

	display: block;
	width: 100%;
	max-width: 1440px;
	height: 416px;
	margin-bottom: 69px;
}

.contacts__map::after {
	content: '';
	position: absolute;
	top: 90px;
    right: 389px;

	width: 367px;
	height: 190px;

	background-image: url(../img/map-marker.png);
	background-repeat: no-repeat;
}

.contacts__map img {
	width: 100%;
}

.contacts__info {
	position: absolute;
	top: 54px;
    left: 140px;

	width: 319px;
	padding: 49px 50px 47px;

	background-color: #ffffff;
}

.contacts__info-title {
	margin: 0;
	margin-bottom: 23px;

	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
}

.contacts__info-address,
.contacts__info-phone {
	line-height: 18px;
	color: #666666;
}

.contacts__info-address {
	margin: 0;
	margin-bottom: 18px;
	padding-left: 2px;
}

.contacts__info-phone {
	display: block;
	margin-bottom: 37px;
	padding-left: 1px;
}

.contacts__info-link {
	width: 219px;
}
/* /contacts */

/* Footer__bottom */
.footer__bottom {
	display: flex;
	align-items: center;
	margin-bottom: 69px;
}

.footer__bottom-social {
	display: flex;
	margin: 0;
	margin-right: 140px;
	padding: 0;

	list-style: none;
}

.footer__link {
	position: relative;

	display: block;
	width: 79px;
	height: 79px;

	background-color: #e1e1e1;
	border-radius: 50%;
}

.footer__link:hover,
.footer__link:focus {
	background-color: #e74246;
}

.footer__link:active {
	background-color: #d7373b;
	box-shadow: inset 0 3px #c13135;
}

.footer__link::before {
	content: '';
	position: absolute;

	background-repeat: no-repeat;
}

.footer__link:active::before {
	opacity: 0.3;
}

li:not(:last-child) .footer__link {
	margin-right: 12px;
}

li:nth-child(1) .footer__link::before {
	top: 32px;
    left: 27px;

	width: 26px;
	height: 15px;
	background-image: url(../img/vk-icon.svg);
}

li:nth-child(2) .footer__link::before {
	top: 28px;
    left: 34px;

	width: 12px;
	height: 22px;
	background-image: url(../img/fb-icon.svg);
}

li:nth-child(3) .footer__link::before {
	top: 29px;
    left: 28px;

	width: 21px;
	height: 21px;
	background-image: url(../img/insta-icon.svg);
}

.footer__bottom-title {
	margin: 0;
	margin-bottom: 10px;

	font-weight: 700;
	font-size: 36px;
	line-height: 36px;
}

.footer__bottom-text {
	margin: 0;

	line-height: 22px;
	color: #444444;
}
/* /footer__bottom */
/* /footer */

/* Write-us */
.write-us {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 100;

	display: none;
	width: 960px;
	padding: 66px 100px 84px 98px;

	background-color: #ffffff;
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);

	transform: translate(-50%, -50%);
}

.write-us__form {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-left: 2px;
}

.write-us__title {
	margin: 0;
	margin-bottom: 39px;

	font-weight: 500;
	font-size: 45px;
	line-height: 45px;
}

.write-us p {
	display: flex;
	flex-direction: column;
	margin: 0;
}

.write-us__label {
	margin-bottom: 6px;

	font-weight: 700;
}

.write-us__field {
	width: 360px;
	margin-bottom: 31px;
	padding: 11px 12px;

	font: inherit;

	border: 2px solid #d7dcde;
	border-radius: 2px;
}

.write-us__field:hover {
	border-color: #b4b9bb;
}

.write-us__field:focus {
	border-color: #000000;
}

.write-us__field:invalid {
	border-color: #e74246;
}

p:nth-child(3) .write-us__field {
	width: 760px;
	height: 118px;
	margin-bottom: 47px;
	padding-top: 8px;
}

.write-us__submit {
	width: 260px;
}

.write-us__close {
	position: absolute;
	top: 77px;
    right: 91px;

	width: 21px;
	height: 21px;

	background-color: transparent;
	background-image: url(../img/close-cross.svg);
	background-repeat: no-repeat;
	border: none;
	opacity: 0.3;
}

.write-us__close:hover,
.write-us__close:focus {
	opacity: 1;
}

.write-us__close:active {
	opacity: 0.1;
}

.write-us__submit,
.write-us__close {
	cursor: pointer;
}
/* /write-us */